<br>

<div class="bmm-event-label">
    <b>Forrás</b>: <span class="bmm-event-data">{{ doc["source"] }}</span>
</div>

<div class="bmm-event-label">
    <b>Dokumentum típusa</b>: <span class="bmm-event-data">{{ doc["doc_type"] }}</span>
</div>

<div class="bmm-event-label">
    <b>Dokumentum címe</b>: <span class="bmm-event-data">{{ doc["title"] }}</span>
</div>

<div class="bmm-event-label">
    <b>Dokumentum leírása</b>: <span class="bmm-event-data">{{ doc["lead"] }}</span>
</div>

<div class="bmm-event-label">
    <b>Publikálás dátuma</b>: <span class="bmm-event-data">{{ doc["visible_date"] }}</span>
</div>

<div class="bmm-event-label">
    <b>Megnyitás</b>: <a href="{{ doc["pageUrl"] }}" class="bmm-event-data">Kattints ide!</a>.
</div>

<div class="bmm-event-label">
    <b>Letöltés</b>: <a href="{{ doc["dlUrl"] }}" class="bmm-event-data">Kattints ide!</a>.
</div>

<br>